# Ignore all 
*

# track any files with extensions
!**/*.*

# track all directories
!*/

# remove all mac extensions
.DS_Store

# do not track anything in RTRT
RTRT/*

# track the following
# systemverilog
!*.sv
# quartus project file
!*.qpf
# quartus IP 
!*.qip
# verilog
!*.v
# pin planner
!*.ppf 
# c files
!*.c
