# Ignore all 
*

# track any files with extensions
!**/*.*

# track all directories
!*/

# remove all mac extensions
**/.DS_Store

# track any files with extensions in any folder

# track the following
# systemverilog
!*.sv
# quartus project file
!*.qpf
# quartus IP 
!*.qip
# verilog
!*.v
# pin planner
!*.ppf 
# c files
!*.c
